:root {
  --color-principal: #f04e30;  /* Rojo anaranjado */
  --color-principal-hover: #ca2f13; /* Más oscuro al hacer hover */
  --color-fondo: #f7f6f6;  /* Fondo claro general */
  --color-texto: #111;      /* Texto principal */
  --color-secundario: #555; /* Texto secundario */
  --color-blanco: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}